form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    margin: 0;
    padding: 2.25em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 2px #0047bb;
    border-radius: .8em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  form .inputGroup {
    margin: 0 0 1em;
    padding: 0;
    position: relative;
  }

  form button:disabled {
    padding: .65em 1em 1em;
    background-color: #afadad;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-family: inherit;
  }
 
  form input[type="text"], form input[type='password'] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.4em;
    color: #353538;
    font-family: inherit;
  }

  form button:enabled {
    padding: .65em 1em 1em;
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-family: inherit;
  }

  #login:hover{
    background-color:#8d2227;
    border-radius: 25px;
  }
